In [207]:
import pandas as pd

In [230]:
df = pd.read_excel('test_data.xlsx')

In [231]:
df =df.set_index('resources')
df

            Product A  Product B  Product C   Product D    Count
resources
resource A       1.40       1.50        1.45       1.50  10000.0
resource B       0.13       0.15        0.14       0.15   1000.0
resource C       0.20       0.10        0.15       0.15   1000.0
resource D       0.05       0.06        0.08       0.07    450.0
resource E       0.30       0.70        0.05       0.00    750.0
Profit          14.00      16.00       17.00      15.00      NaN

In [232]:
b = df.Count.values[:-1]
df = df.drop(columns=['Count'])
b

array([10000.,  1000.,  1000.,   450.,   750.])

In [233]:
profit = df.loc['Profit'].values
profit

array([14., 16., 17., 15.])

In [234]:
df = df.drop('Profit',axis=0)
df

            Product A  Product B  Product C   Product D
resources
resource A       1.40       1.50        1.45       1.50
resource B       0.13       0.15        0.14       0.15
resource C       0.20       0.10        0.15       0.15
resource D       0.05       0.06        0.08       0.07
resource E       0.30       0.70        0.05       0.00

In [235]:
from ortools.linear_solver import pywraplp

In [236]:
solver = pywraplp.Solver.CreateSolver('SCIP')

In [237]:
variables = [ solver.IntVar(0, solver.infinity(), item)for item in df.columns]

In [238]:
df.values[0]*variables

array([<ortools.linear_solver.linear_solver_natural_api.ProductCst object at 0x7f87a929c110>,
       <ortools.linear_solver.linear_solver_natural_api.ProductCst object at 0x7f87a929c810>,
       <ortools.linear_solver.linear_solver_natural_api.ProductCst object at 0x7f87a92a5090>,
       <ortools.linear_solver.linear_solver_natural_api.ProductCst object at 0x7f87a92a5b50>],
      dtype=object)

In [239]:
variables

[Product A, Product B, Product C , Product D]

In [240]:
for i in range(len(df)):
    solver.Add(sum(df.values[i]*variables)<=b[i])

In [241]:
solver.Maximize(sum(profit*variables))

In [242]:
status = solver.Solve()

In [244]:
if status == pywraplp.Solver.OPTIMAL:
    print('Solution:')
    print('Objective value =', round(solver.Objective().Value(),2))
    for i,item in enumerate(df.columns):
        print(f'{item} =', variables[i].solution_value())
else:
    print('The problem does not have an optimal solution.')

Solution:
Objective value = 101011.0
Product A = 649.0
Product B = 786.0
Product C  = 97.0
Product D = 5180.0